<h1>Edit the information about <%=@landmark.name%></h1>
<form action="/landmarks/<%=@landmark.id%>" method="POST">
  <input type="hidden" name="_method" value="PATCH">

  <h3>Edit Landmark Name</h3>
  <input type="text" name="landmark[name]" id="name" >
  <br>

  <h3>Edit Landmark Year Completed</h3>
  <input type="text" name="landmark[year_completed]" id="year_completed" value=<%=@landmark.year_completed%> >

  <h3>Not sure why this is here :<%=@landmark.year_completed.to_s%> </h3>


  <input type="submit" value="Edit Landmark">


</form>
