<h1> Create a New Landmark</h1>
<form action="/landmarks/new" method="POST">

  <h3>Enter the Landmark Name</h3>
  <input type="text" id="landmark_name" name="landmark[name]">

  <h3>Enter the year the Landmark was completed</h3>
  <input type="text" id="landmark_year_completed" name="landmark[year_completed]">

  <input type="submit" value="Create New Landmark">
</form>
