
<form action="/figures/new" method="POST">

  <input type="text" id="figure_name" name="figure[name]">

  <%Title.all.each do |title|%>
  <%end%>

  <input type="submit" value="Create Figure">
</form>
