
<form action="/figures/new" method="POST">

  <input type="text" id="figure_name" name="figure[name]">

  <%Title.all.each do |title|%>
    <input type="checkbox" id="title_id" name="figure[title_ids][]" value="title.id">
  <%end%>

  <%Landmark.all.each do |landmark|%>
    <input type="checkbox" id="landmark_id" name="figure[landmark_ids][]" value="landmark.id">
  <%end%>

  <input type="text" id="landmark_name" name="landmark[name]">

  <input type="submit" value="Create Figure">
</form>
