<h1>Here is information about <%=@figure.name%></h1>

<h3>Figure Name: <%=@figure.name%></h3>
<h3>Figure Titles</h3>
<ol>
<%@figure.titles.each do |title|%>
  <li><%=title.name%></li>
<%end%>
</ol>


<h3>Figure Landmarks</h3>
<ol>
<%@figure.landmarks.each do |landmark|%>
  <li><%=landmark.name%></li>
<%end%>
</ol>
